/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container {
  display: flex;
}

nav a{
  text-decoration:none;
  background-color: green;
  color:white;
}

nav a{
  flex: 1; 
  text-align:center;
  padding:10px;
  transition:0.5s
}

#footer{
  text-decoration:none;
  background-color: green;
  color:white;
}

#footer{
  flex: 1; 
  text-align:center;
  padding:3px;
  transition:0.5s
}

.container a{
  text-decoration: none;
  display: flex;
}

